## Data Preparation

Imports

In [0]:
import pandas as pd

In [0]:
df_raw = pd.read_csv("influenza.csv")
df_raw.head(15)

       Season            Region  ...            County Centroid   FIPS
0   2016-2017           CENTRAL  ...  (43.7863965, -75.4426165)  36049
1   2014-2015           WESTERN  ...    (43.174966, -77.639663)  36055
2   2015-2016             METRO  ...   (40.7506561, -73.582905)  36059
3   2018-2019  CAPITAL DISTRICT  ...  (44.1089711, -73.7775726)  36031
4   2013-2014             METRO  ...   (41.9472321, -74.265447)  36111
5   2016-2017  CAPITAL DISTRICT  ...  (43.6578786, -74.5024556)  36041
6   2017-2018             METRO  ...   (40.7506561, -73.582905)  36059
7   2017-2018  CAPITAL DISTRICT  ...  (43.5551053, -73.8381388)  36113
8   2016-2017           WESTERN  ...  (42.2667252, -77.3855253)  36101
9   2018-2019  CAPITAL DISTRICT  ...  (42.8175421, -74.0435834)  36093
10  2017-2018           WESTERN  ...  (43.0009096, -78.1927784)  36037
11  2017-2018  CAPITAL DISTRICT  ...  (42.5882713, -73.9740136)  36001
12  2016-2017           WESTERN  ...        (42.7652, -76.8721)  36099
13  2013-2014           WESTERN  ...         (43.202, -77.0104)  36117
14  2013-2014           WESTERN  ...        (42.7652, -76.8721)  36099

[15 rows x 9 columns]

Add year column to a new dataframe created as df_year

In [15]:
df_year = df_raw.copy()
df_year['year'] = df_raw['Week Ending Date']
df_year['year'] = df_year['year'].str.slice(start = 6)
df_year.head()

      Season            Region  County  ...            County Centroid   FIPS  year
0  2016-2017           CENTRAL   LEWIS  ...  (43.7863965, -75.4426165)  36049  2016
1  2014-2015           WESTERN  MONROE  ...    (43.174966, -77.639663)  36055  2015
2  2015-2016             METRO  NASSAU  ...   (40.7506561, -73.582905)  36059  2016
3  2018-2019  CAPITAL DISTRICT   ESSEX  ...  (44.1089711, -73.7775726)  36031  2019
4  2013-2014             METRO  ULSTER  ...   (41.9472321, -74.265447)  36111  2013

[5 rows x 10 columns]