## Data Preparation

Imports

In [0]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [0]:
df_raw = pd.read_csv("influenza.csv")
df_raw.head(15)

,Season,Region,County,CDC Week,Week Ending Date,Disease,Count,County Centroid,FIPS
0,2016-2017,CENTRAL,LEWIS,42,10/22/2016,INFLUENZA_UNSPECIFIED,0,"(43.7863965, -75.4426165)",36049
1,2014-2015,WESTERN,MONROE,53,01/03/2015,INFLUENZA_B,2,"(43.174966, -77.639663)",36055
2,2015-2016,METRO,NASSAU,52,01/02/2016,INFLUENZA_B,2,"(40.7506561, -73.582905)",36059
3,2018-2019,CAPITAL DISTRICT,ESSEX,20,05/18/2019,INFLUENZA_B,0,"(44.1089711, -73.7775726)",36031
4,2013-2014,METRO,ULSTER,41,10/12/2013,INFLUENZA_B,1,"(41.9472321, -74.265447)",36111
5,2016-2017,CAPITAL DISTRICT,HAMILTON,51,12/24/2016,INFLUENZA_B,0,"(43.6578786, -74.5024556)",36041
6,2017-2018,METRO,NASSAU,49,12/09/2017,INFLUENZA_A,16,"(40.7506561, -73.582905)",36059
7,2017-2018,CAPITAL DISTRICT,WARREN,1,01/06/2018,INFLUENZA_A,17,"(43.5551053, -73.8381388)",36113
8,2016-2017,WESTERN,STEUBEN,13,04/01/2017,INFLUENZA_A,7,"(42.2667252, -77.3855253)",36101
9,2018-2019,CAPITAL DISTRICT,SCHENECTADY,10,03/09/2019,INFLUENZA_A,98,"(42.8175421, -74.0435834)",36093
10,2017-2018,WESTERN,GENESEE,50,12/16/2017,INFLUENZA_B,4,"(43.0009096, -78.1927784)",36037
11,2017-2018,CAPITAL DISTRICT,ALBANY,42,10/21/2017,INFLUENZA_B,0,"(42.5882713, -73.9740136)",36001
12,2016-2017,WESTERN,SENECA,18,05/06/2017,INFLUENZA_B,1,"(42.7652, -76.8721)",36099
13,2013-2014,WESTERN,WAYNE,5,02/01/2014,INFLUENZA_UNSPECIFIED,0,"(43.202, -77.0104)",36117
14,2013-2014,WESTERN,SENECA,47,11/23/2013,INFLUENZA_B,0,"(42.7652, -76.8721)",36099

Add year column to a new dataframe created as df_year

In [0]:
df_year = df_raw.copy()
df_year['year'] = df_raw['Week Ending Date']
df_year['year'] = df_year['year'].str.slice(start = 6)
df_year.head()

      Season            Region  County  ...            County Centroid   FIPS  year
0  2016-2017           CENTRAL   LEWIS  ...  (43.7863965, -75.4426165)  36049  2016
1  2014-2015           WESTERN  MONROE  ...    (43.174966, -77.639663)  36055  2015
2  2015-2016             METRO  NASSAU  ...   (40.7506561, -73.582905)  36059  2016
3  2018-2019  CAPITAL DISTRICT   ESSEX  ...  (44.1089711, -73.7775726)  36031  2019
4  2013-2014             METRO  ULSTER  ...   (41.9472321, -74.265447)  36111  2013

[5 rows x 10 columns]

Separating disease column to different Influenza types based on their count

In [0]:
#One hot encoding Disease column

df_count = pd.get_dummies(df_year, columns=['Disease'])
#df_count.shape
df_count.head(15)

       Season  ... Disease_INFLUENZA_UNSPECIFIED
0   2016-2017  ...                             1
1   2014-2015  ...                             0
2   2015-2016  ...                             0
3   2018-2019  ...                             0
4   2013-2014  ...                             0
5   2016-2017  ...                             0
6   2017-2018  ...                             0
7   2017-2018  ...                             0
8   2016-2017  ...                             0
9   2018-2019  ...                             0
10  2017-2018  ...                             0
11  2017-2018  ...                             0
12  2016-2017  ...                             0
13  2013-2014  ...                             1
14  2013-2014  ...                             0

[15 rows x 12 columns]

In [0]:
#Multiplying disease counts with new diseases columns (A, B, Unspecified)

df_count[["Disease_INFLUENZA_A", "Disease_INFLUENZA_B", "Disease_INFLUENZA_UNSPECIFIED"]] = df_count[["Disease_INFLUENZA_A", "Disease_INFLUENZA_B", "Disease_INFLUENZA_UNSPECIFIED"]].multiply(df["Count"], axis="index")
df_count.head(15)

       Season  ... Disease_INFLUENZA_UNSPECIFIED
0   2016-2017  ...                             0
1   2014-2015  ...                             0
2   2015-2016  ...                             0
3   2018-2019  ...                             0
4   2013-2014  ...                             0
5   2016-2017  ...                             0
6   2017-2018  ...                             0
7   2017-2018  ...                             0
8   2016-2017  ...                             0
9   2018-2019  ...                             0
10  2017-2018  ...                             0
11  2017-2018  ...                             0
12  2016-2017  ...                             0
13  2013-2014  ...                             0
14  2013-2014  ...                             0

[15 rows x 12 columns]

In [0]:
#df_count['Week'] = pd.to_datetime(df_count.year.astype(str), format='%Y') + \
#             pd.to_timedelta(df_count['CDC Week'].mul(7).astype(str) + ' days')

In [0]:
#df_count = df_count.sort_values(by = 'Week')

In [0]:
# Sum different Influenza types
df_sum = df_count.groupby(['County','FIPS','County Centroid','year','CDC Week','Week Ending Date'])["Count","Disease_INFLUENZA_A","Disease_INFLUENZA_B","Disease_INFLUENZA_UNSPECIFIED"].sum().reset_index()
df_sum.head(15)

    County   FIPS  ... Disease_INFLUENZA_B Disease_INFLUENZA_UNSPECIFIED
0   ALBANY  36001  ...                   0                             0
1   ALBANY  36001  ...                   0                             0
2   ALBANY  36001  ...                   0                             0
3   ALBANY  36001  ...                   1                             0
4   ALBANY  36001  ...                   1                             0
5   ALBANY  36001  ...                   0                             0
6   ALBANY  36001  ...                   0                             0
7   ALBANY  36001  ...                   0                             0
8   ALBANY  36001  ...                   0                             0
9   ALBANY  36001  ...                   0                             0
10  ALBANY  36001  ...                   0                             0
11  ALBANY  36001  ...                   0                             0
12  ALBANY  36001  ...                   0                             0
13  ALBANY  36001  ...                   0                             0
14  ALBANY  36001  ...                   0                             0

[15 rows x 10 columns]

In [0]:
df_sum.to_csv('master.csv')

In [0]:
# Testing for above logic
df_sum.loc[(df_sum['County'] == 'KINGS') & (df_sum['Week Ending Date'] == '02/10/2018')]

     County   FIPS  ... Disease_INFLUENZA_B Disease_INFLUENZA_UNSPECIFIED
7263  KINGS  36047  ...                 473                            12

[1 rows x 10 columns]

Merge Unemployment dataset with master.csv

In [0]:
df_master = pd.read_csv("master.csv", index_col=0)
df_master.head()

   County   FIPS  ... Disease_INFLUENZA_B  Disease_INFLUENZA_UNSPECIFIED
0  ALBANY  36001  ...                   0                              0
1  ALBANY  36001  ...                   0                              0
2  ALBANY  36001  ...                   0                              0
3  ALBANY  36001  ...                   1                              0
4  ALBANY  36001  ...                   1                              0

[5 rows x 10 columns]

In [0]:
df_unemp = pd.read_csv("unemployment.csv")
df_unemp.head()

    FIPS State    County  ...  NumUnemployed2012  NumEmployed2012  NumEmployed2015
0  36000    NY  New York  ...             818847          8793385          9057470
1  36001    NY    Albany  ...              11397           149260           151543
2  36003    NY  Allegany  ...               1994            21697            19014
3  36005    NY     Bronx  ...              73956           520987           558695
4  36007    NY    Broome  ...               8177            85835            81577

[5 rows x 67 columns]

In [0]:
df_unemp.shape
df_master['UnempRate'] = df_master.apply(lambda _: '-', axis=1)
try:
  df_unemp = df_unemp.drop([0])
except:
  print("Row 0 not present")

Already row 0 dropped

In [0]:
for county_name in df_master['County'].unique():
  for unemp_year in range(2009,2019):
    df_master['UnempRate'].loc[(df_master['year'] == unemp_year) & (df_master['County'] == county_name)] = float(df_unemp['UnempRate' + str(unemp_year)].iloc[np.where(df_unemp['County'] == county_name.title())])

/usr/local/lib/python3.6/dist-packages/pandas/core/indexing.py:205: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)

In [0]:
df_master.sample(n = 10)
#df_master.head(20)

         County   FIPS  ...          GDP  GDP_change
9569   NEW YORK  36061  ...            -           -
2694   CHENANGO  36017  ...            -           -
17260     TIOGA  36107  ...  1.56073e+06        10.8
9963    NIAGARA  36063  ...            -           -
12892    QUEENS  36081  ...  7.38429e+07         1.3
1600     CAYUGA  36011  ...            -           -
12200    OTSEGO  36077  ...  1.92558e+06         1.3
7098      KINGS  36047  ...  6.00627e+07         0.6
4075   DUTCHESS  36027  ...  1.18176e+07         3.6
10090    ONEIDA  36065  ...  9.04835e+06           -

[10 rows x 13 columns]

In [0]:
df_master.to_csv("master_UnEmp.csv")

Merge GDP

In [0]:
df_gdp = pd.read_csv("real_gdp.csv")
df_gdp.head(15)

df_gdp = df_gdp[df_gdp.IndustryName == "All Industries"]
df_gdp = df_gdp.drop(columns=["IndustryName","LineCode"])
df_gdp.head()

     FIPS   Countyname Postal        2012  ...        2015  2013.1  2014.1  2015.1
0   36001       Albany     NY  24791703.0  ...  26254937.0     2.8     3.6    -0.6
4   36003     Allegany     NY   1016724.0  ...   1072033.0     3.7     4.4    -2.6
8   36005        Bronx     NY  29926313.0  ...  28787000.0    -2.9    -0.7    -0.3
12  36007       Broome     NY   8695765.0  ...   7987631.0    -2.0    -2.2    -4.2
16  36009  Cattaraugus     NY   2377326.0  ...   2378817.0     2.2    -1.8    -0.3

[5 rows x 10 columns]

In [0]:
df_master['GDP'] = df_master.apply(lambda _: '-', axis=1)
for county_name in df_master['County'].unique():
  for unemp_year in range(2012,2016):
    df_master['GDP'].loc[(df_master['year'] == unemp_year) & (df_master['County'] == county_name)] = float(df_gdp[str(unemp_year)].iloc[np.where(df_gdp['Countyname'] == county_name.title())])

/usr/local/lib/python3.6/dist-packages/pandas/core/indexing.py:205: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)

In [0]:
df_master['GDP_change'] = df_master.apply(lambda _: '-', axis=1)
for county_name in df_master['County'].unique():
  for unemp_year in range(2013,2016):
    df_master['GDP_change'].loc[(df_master['year'] == unemp_year) & (df_master['County'] == county_name)] = float(df_gdp[str(unemp_year) + '.1'].iloc[np.where(df_gdp['Countyname'] == county_name.title())])

/usr/local/lib/python3.6/dist-packages/pandas/core/indexing.py:205: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)

In [0]:
df_master.sample(n = 10)

In [0]:
df_master.to_csv("master_GDP.csv")

Generate Target

In [0]:
for i in range(0, len(df_master)-2):
    if df_master.loc[i,'County'] == df_master.loc[i+2,'County']:
        df_master.loc[i, 'Target'] = df_master.loc[i+2, 'Count']
df_master.head()

In [0]:
df_master.to_csv("master_target.csv")

Merge Vaccination Rates

In [0]:
df_vaccination = pd.read_csv('vaccination.csv')
NYC_Counties = ['NEW YORK', 'BRONX', 'QUEENS', 'KINGS', 'RICHMOND']
df_vax = pd.merge(df_master, df_vaccination,  how='left', left_on=['year','CDC Week'], right_on = ['Year','CDC_Week'])
for i in range(1,len(df_vax)):
    if df_vax.loc[i, 'County'] in NYC_Counties:
        df_vax.loc[i, 'VaxRate'] = df_vax.loc[i, 'Child_NYC']
    else:
        df_vax.loc[i, 'VaxRate'] = df_vax.loc[i, 'Child_NYS']
df_vax = df_vax.drop(['Child_NYC','Child_NYS','Year','Month','CDC_Week'], axis = 1 ) #drop extra columns from df_vaccination

In [0]:
df_vax.to_csv("master_vax.csv")

Weather forecast

In [16]:
df_master = pd.read_csv("master_12-08.csv", index_col=0)
df_master.sample(5)

       Unnamed: 0.1    County  year  ...       TMIN  SNOWDepth             Density
8207           8207   MADISON  2016  ...  29.000000   1.500000   108.8678150387881
4941           4941  FRANKLIN  2011  ...  22.285714   1.000000  31.637325672755846
13748         13748  ROCKLAND  2011  ...   8.142857   1.750000   1817.568424085278
5250           5250    FULTON  2012  ...  19.142857   7.714286   110.7090237552223
12707         12707    QUEENS  2010  ...  30.571429   4.166667  20591.034736939095

[5 rows x 29 columns]

In [0]:
for i in range(0, len(df_master)-2):
    if df_master.loc[i,'County'] == df_master.loc[i+2,'County']:
        df_master.loc[i, 'F_PRCP'] = df_master.loc[i+2, 'PRCP']
        df_master.loc[i, 'F_SNOW'] = df_master.loc[i+2, 'SNOW']
        df_master.loc[i, 'F_TAVG'] = df_master.loc[i+2, 'TAVG']
        df_master.loc[i, 'SNOWDepth'] = df_master.loc[i+2, 'SNOWDepth']

In [0]:
df_master.to_csv("master_F_weather.csv", index = False)