In [0]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt  
import seaborn as seabornInstance 
from sklearn.model_selection import train_test_split 
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import GradientBoostingRegressor

from sklearn import preprocessing
from sklearn import metrics

In [3]:
df_master = pd.read_csv("master_12-05.csv", index_col=0)
df_master.describe()

               FIPS          year  ...          TMIN     SNOWDepth
count  20080.000000  20080.000000  ...  18188.000000  15062.000000
mean   36063.424900   2014.174402  ...     29.187038      2.208371
std       35.586314      2.992755  ...     12.852083      4.444374
min    36001.000000   2009.000000  ...    -23.142857      0.000000
25%    36033.000000   2012.000000  ...     20.714286      0.000000
50%    36065.000000   2014.000000  ...     29.500000      0.000000
75%    36095.000000   2017.000000  ...     38.428571      2.333333
max    36123.000000   2019.000000  ...     67.000000     38.285714

[8 rows x 20 columns]

In [36]:
#df_drop = df_master.dropna()
#print(df_drop.shape)
df_master_modified = df_master[['year','CDC Week','Count','PRCP','TAVG','Target']]
df_master_modified = df_master_modified.dropna()
X = df_master_modified[['year','CDC Week','PRCP','TAVG','Count']]
y = df_master_modified['Target']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0, shuffle = False)

mm_scaler = preprocessing.MinMaxScaler()
X_train = mm_scaler.fit_transform(X_train)
X_test = mm_scaler.transform(X_test)

regressor = LinearRegression()
regressor.fit(X_train, y_train)
y_pred = regressor.predict(X_test)
Test_error = metrics.r2_score(y_test, y_pred)
print(Test_r2_score)
y_train_pred = regressor.predict(X_train)
Train_error = metrics.r2_score(y_train, y_train_pred)
print(Train_r2_score)

0.6998002043486303
0.6903379709186552

In [37]:
rf = RandomForestRegressor(n_estimators = 500)
rf.fit(X_train, y_train)
y_pred = rf.predict(X_test)
Test_error = metrics.r2_score(y_test, y_pred)
print(Test_r2_score)
y_train_pred = rf.predict(X_train)
Train_error = metrics.r2_score(y_train, y_train_pred)
print(Train_r2_score)

0.8041362619395119
0.9802917899689731

In [43]:
est = GradientBoostingRegressor(n_estimators=100, learning_rate=0.1,max_depth=1, random_state=0, loss='ls').fit(X_train, y_train)
metrics.r2_score(y_test, est.predict(X_test))

0.6733441192726999