Weather data preparation

In [0]:
import pandas as pd
import numpy as np

In [7]:
#Read master csv file considering first column in the dataset as the index column
df_master = pd.read_csv("master.csv", index_col=0)

#df_master = df_master.drop(['County Centroid', 'Disease_INFLUENZA_A', 'Disease_INFLUENZA_B', 'Disease_INFLUENZA_UNSPECIFIED', 'fluSymptoms', 'soreThroat', 'VaxRate', 'Population', 'GDP_change'], axis=1)   #Serves no purpose - drop the columns just for accomodating all the required columns in the same sheet (easy for debugging)
print((df_master['County'].unique()))
df_master.head()

['ALBANY' 'ALLEGANY' 'BRONX' 'BROOME' 'CATTARAUGUS' 'CAYUGA' 'CHAUTAUQUA'
 'CHEMUNG' 'CHENANGO' 'CLINTON' 'COLUMBIA' 'CORTLAND' 'DELAWARE'
 'DUTCHESS' 'ERIE' 'ESSEX' 'FRANKLIN' 'FULTON' 'GENESEE' 'GREENE'
 'HAMILTON' 'HERKIMER' 'JEFFERSON' 'KINGS' 'LEWIS' 'LIVINGSTON' 'MADISON'
 'MONROE' 'MONTGOMERY' 'NASSAU' 'NEW YORK' 'NIAGARA' 'ONEIDA' 'ONONDAGA'
 'ONTARIO' 'ORANGE' 'ORLEANS' 'OSWEGO' 'OTSEGO' 'PUTNAM' 'QUEENS'
 'RENSSELAER' 'RICHMOND' 'ROCKLAND' 'SARATOGA' 'SCHENECTADY' 'SCHOHARIE'
 'SCHUYLER' 'SENECA' 'ST LAWRENCE' 'STEUBEN' 'SUFFOLK' 'SULLIVAN' 'TIOGA'
 'TOMPKINS' 'ULSTER' 'WARREN' 'WASHINGTON' 'WAYNE' 'WESTCHESTER' 'WYOMING'
 'YATES']

   Unnamed: 0.1  County   FIPS  ... soreThroat  Target  VaxRate
0             0  ALBANY  36001  ...   0.087600    27.0      NaN
1             1  ALBANY  36001  ...   0.067525    87.0      NaN
2             2  ALBANY  36001  ...   0.091104    77.0      NaN
3             3  ALBANY  36001  ...   0.078840    61.0      NaN
4             4  ALBANY  36001  ...   0.125195    29.0      NaN

[5 rows x 22 columns]

In [0]:
#Works on a single county basis
county_name = 'PUTNAM'

In [18]:
#Read CSV file
county_name = 'ROCKLAND'
df_TPS_1 = pd.read_csv(county_name.title() + ".csv")
df_TPS_1.head()
df_TPS_1 = df_TPS_1.rename(columns={" Date": "DATE", " Precipitation": "PRCP", " MaxTemperature": "TMAX", " MinTemperature": "TMIN", " AvgTemperature": "TAVG", " Snowfall": "SNOW", " SnowDepth": "SNOWDepth"})
#print(df_TPS_1.head())

df_TPS_1['PRCP'] = pd.to_numeric(df_TPS_1['PRCP'], errors='coerce')
df_TPS_1['SNOW'] = pd.to_numeric(df_TPS_1['SNOW'], errors='coerce')
df_TPS_1['TMAX'] = pd.to_numeric(df_TPS_1['TMAX'], errors='coerce')
df_TPS_1['TMIN'] = pd.to_numeric(df_TPS_1['TMIN'], errors='coerce')
df_TPS_1['TAVG'] = pd.to_numeric(df_TPS_1['TAVG'], errors='coerce')
df_TPS_1['SNOWDepth'] = pd.to_numeric(df_TPS_1['SNOWDepth'], errors='coerce')

#print(df_TPS_1.applymap(np.isreal))
print(df_TPS_1.shape)
df_TPS_1.sample(2)
#df_TPS_1.to_csv("temp.csv")

(3743, 7)

            Date  TMAX  TMIN  TAVG  PRCP  SNOW  SNOWDepth
3707  2019-10-26   NaN   NaN   NaN   NaN   NaN        NaN
2500  2016-07-06  85.0  66.0  75.5   0.0   0.0        0.0

In [19]:
#Convert df_TPS['DATE'] to pandas Date format
df_TPS_1['Date'] = pd.to_datetime(df_TPS_1['Date'])
#Extract Week number from date
df_TPS_1['Week_Number'] = df_TPS_1['Date'].dt.week
#Extract Year number from date
df_TPS_1['Year'] = df_TPS_1['Date'].dt.year
df_TPS_1.fillna(df_TPS_1.groupby(df_TPS_1.Date.dt.month).transform('mean'))
#df_TPS_1.to_csv("temp2.csv")

#df_TPS_1 = df_TPS_1.drop(['Date'], axis = 1)
#print(df_TPS_1.sample(5))

#Create a dict to denote how a feature has to be grouped 
#Eg: PRCP : mean - PRCP features are averaged over complete week
agg_dict = {'PRCP'  : 'mean',
            'SNOW'  : 'mean',
            'TAVG'  : 'mean', 
            'TMAX'  : 'mean',
            'TMIN'  : 'mean',
            'SNOWDepth' : 'mean'}

#Group same Year and WeekNumnber as per the values in the agg_dict
df_TPS_1 = df_TPS_1.groupby(['Year','Week_Number']).agg(agg_dict)
#Year and Week_NUmber are in index format, convert them into columns
df_TPS_1.reset_index(inplace=True)
#Take mean of TMAX and TMIN to get TAVG (TMAX and TMIN here are already averages of the entire week)
#df_TPS['TAVG'] = (df_TPS['TMAX'] + df_TPS['TMIN'])/2
print(df_TPS_1.shape)
df_TPS_1.sample(2)

(537, 8)

     Year  Week_Number  PRCP  SNOW       TAVG  TMAX       TMIN  SNOWDepth
373  2016           42  0.24   0.0  60.071429  73.0  47.142857        0.0
416  2017           32   NaN   NaN        NaN   NaN        NaN        NaN

In [20]:
#Creates a new dataframe by merging only the required county in master dataframe and the df_TPS dataframe for that county
#This new dataframe is only a partial dataframe that contains only the rows that have the mentioned county values
#Complete dataset has to be created by either merging or creating df_TPS for all counties and cerging all temp_df
temp_df = pd.merge(df_master.loc[df_master['County'] == county_name], df_TPS_1,  how='left', left_on=['year','CDC Week'], right_on = ['Year','Week_Number'])
#Drop the newly created Year and Week_Number columns as our master dataset already has these columns
temp_df = temp_df.drop(['Year', 'Week_Number'], axis = 1)
#temp_df.sample()
print(temp_df.shape)
master_updated = pd.concat([master_updated, temp_df])
print(master_updated.shape)
master_updated.sample(10)

(336, 28)
(20080, 28)

     Unnamed: 0.1       County   FIPS  ...       TMAX       TMIN  SNOWDepth
326         10998      ONTARIO  36069  ...  53.571429  36.571429   0.000000
121          1061       BROOME  36007  ...  37.857143  24.142857   4.571429
297          1539  CATTARAUGUS  36009  ...  67.000000  47.142857   0.000000
321         14689  SCHENECTADY  36093  ...  46.285714  25.142857   2.571429
213          8533       MONROE  36055  ...  29.571429  17.000000        NaN
256         12944       QUEENS  36081  ...  51.428571  33.857143   0.000000
161         14865    SCHOHARIE  36095  ...        NaN        NaN        NaN
26           6704    JEFFERSON  36045  ...  56.428571  36.428571   0.000000
175         13535     RICHMOND  36085  ...  32.714286  25.285714   8.000000
235          6309     HAMILTON  36041  ...  49.428571  34.285714   0.000000

[10 rows x 28 columns]

In [0]:
master_updated.to_csv("master.csv")

In [23]:
master_updated

     Unnamed: 0.1    County   FIPS  ...       TMAX       TMIN  SNOWDepth
0               0    ALBANY  36001  ...  61.285714  48.000000        0.0
1               1    ALBANY  36001  ...  60.000000  44.000000        0.0
2               2    ALBANY  36001  ...  48.285714  29.857143        0.0
3               3    ALBANY  36001  ...  58.857143  37.142857        0.0
4               4    ALBANY  36001  ...  56.285714  41.428571        0.0
..            ...       ...    ...  ...        ...        ...        ...
331         14027  ROCKLAND  36087  ...        NaN        NaN        NaN
332         14028  ROCKLAND  36087  ...        NaN        NaN        NaN
333         14029  ROCKLAND  36087  ...        NaN        NaN        NaN
334         14030  ROCKLAND  36087  ...        NaN        NaN        NaN
335         14031  ROCKLAND  36087  ...        NaN        NaN        NaN

[20080 rows x 28 columns]

In [0]:
master_df.to_csv("master.csv")