Weather data preparation

In [0]:
import pandas as pd
import numpy as np

In [0]:
#Works on a single county basis
county_name = 'ALLEGANY'

In [284]:
#Read master csv file considering first column in the dataset as the index column
df_master = pd.read_csv("master.csv", index_col=0)

#df_master = df_master.drop(['County Centroid', 'Disease_INFLUENZA_A', 'Disease_INFLUENZA_B', 'Disease_INFLUENZA_UNSPECIFIED', 'fluSymptoms', 'soreThroat', 'VaxRate', 'Population', 'GDP_change'], axis=1)   #Serves no purpose - drop the columns just for accomodating all the required columns in the same sheet (easy for debugging)
print(df_master['County'].unique())
df_master.head()

['ALBANY' 'ALLEGANY' 'BRONX' 'BROOME' 'CATTARAUGUS' 'CAYUGA' 'CHAUTAUQUA'
 'CHEMUNG' 'CHENANGO' 'CLINTON' 'COLUMBIA' 'CORTLAND' 'DELAWARE'
 'DUTCHESS' 'ERIE' 'ESSEX' 'FRANKLIN' 'FULTON' 'GENESEE' 'GREENE'
 'HAMILTON' 'HERKIMER' 'JEFFERSON' 'KINGS' 'LEWIS' 'LIVINGSTON' 'MADISON'
 'MONROE' 'MONTGOMERY' 'NASSAU' 'NEW YORK' 'NIAGARA' 'ONEIDA' 'ONONDAGA'
 'ONTARIO' 'ORANGE' 'ORLEANS' 'OSWEGO' 'OTSEGO' 'PUTNAM' 'QUEENS'
 'RENSSELAER' 'RICHMOND' 'ROCKLAND' 'SARATOGA' 'SCHENECTADY' 'SCHOHARIE'
 'SCHUYLER' 'SENECA' 'ST LAWRENCE' 'STEUBEN' 'SUFFOLK' 'SULLIVAN' 'TIOGA'
 'TOMPKINS' 'ULSTER' 'WARREN' 'WASHINGTON' 'WAYNE' 'WESTCHESTER' 'WYOMING'
 'YATES']

   Unnamed: 0.1  County   FIPS  ... soreThroat  Target  VaxRate
0             0  ALBANY  36001  ...   0.087600    27.0      NaN
1             1  ALBANY  36001  ...   0.067525    87.0      NaN
2             2  ALBANY  36001  ...   0.091104    77.0      NaN
3             3  ALBANY  36001  ...   0.078840    61.0      NaN
4             4  ALBANY  36001  ...   0.125195    29.0      NaN

[5 rows x 22 columns]

In [291]:
#Read CSV file

df_TPS_1 = pd.read_csv(county_name.title() + ".csv")
df_TPS_1.head()
df_TPS_1 = df_TPS_1.rename(columns={" Date": "DATE", " Precipitation": "PRCP", " MaxTemperature": "TMAX", " MinTemperature": "TMIN", " AvgTemperature": "TAVG", " Snowfall": "SNOW", " SnowDepth": "SNOWDepth"})
#print(df_TPS_1.head())

df_TPS_1['PRCP'] = pd.to_numeric(df_TPS_1['PRCP'], errors='coerce')
df_TPS_1['SNOW'] = pd.to_numeric(df_TPS_1['SNOW'], errors='coerce')
df_TPS_1['TMAX'] = pd.to_numeric(df_TPS_1['TMAX'], errors='coerce')
df_TPS_1['TMIN'] = pd.to_numeric(df_TPS_1['TMIN'], errors='coerce')
df_TPS_1['TAVG'] = pd.to_numeric(df_TPS_1['TAVG'], errors='coerce')
df_TPS_1['SNOWDepth'] = pd.to_numeric(df_TPS_1['SNOWDepth'], errors='coerce')
#print(df_TPS_1.head())
#print(type(df_TPS_1['PRCP'][1016]))
#print(type(df_TPS_1['SNOW'][1016]))


#print(df_TPS_1.applymap(np.isreal))
df_TPS_1.sample(10)
#df_TPS_1.to_csv("temp.csv")

            Date  TMAX  TMIN  TAVG  PRCP  SNOW  SNOWDepth
3368  2018-11-21  34.0  26.0  30.0  0.04   0.5        7.0
1712  2014-05-10  84.0  47.0  65.5  0.23   0.0        0.0
1529  2013-11-08  47.0  30.0  38.5  0.10   NaN        NaN
1168  2012-11-12  69.0  41.0  55.0  0.00   NaN        NaN
320   2010-07-18  87.0  56.0  71.5  0.40   0.0        0.0
1792  2014-07-29  67.0  49.0  58.0  0.20   0.0        0.0
1438  2013-08-09  83.0  63.0  73.0  0.42   0.0        0.0
2870  2017-07-11  75.0  52.0  63.5  0.05   0.0        0.0
2239  2015-10-19  38.0  26.0  32.0  0.17   NaN        0.0
355   2010-08-22  77.0  54.0  65.5  1.24   0.0        0.0

In [292]:
#Convert df_TPS['DATE'] to pandas Date format
df_TPS_1['Date'] = pd.to_datetime(df_TPS_1['Date'])
#Extract Week number from date
df_TPS_1['Week_Number'] = df_TPS_1['Date'].dt.week
#Extract Year number from date
df_TPS_1['Year'] = df_TPS_1['Date'].dt.year
df_TPS_1.fillna(df_TPS_1.groupby(df_TPS_1.Date.dt.month).transform('mean'))
#df_TPS_1.to_csv("temp2.csv")

#df_TPS_1 = df_TPS_1.drop(['Date'], axis = 1)
print(df_TPS_1.sample(10))

#Create a dict to denote how a feature has to be grouped 
#Eg: PRCP : mean - PRCP features are averaged over complete week
agg_dict = {'PRCP'  : 'mean',
            'SNOW'  : 'mean',
            'TAVG'  : 'mean', 
            'TMAX'  : 'mean',
            'TMIN'  : 'mean',
            'SNOWDepth' : 'mean'}

#Group same Year and WeekNumnber as per the values in the agg_dict
df_TPS_1 = df_TPS_1.groupby(['Year','Week_Number']).agg(agg_dict)
#Year and Week_NUmber are in index format, convert them into columns
df_TPS_1.reset_index(inplace=True)
#Take mean of TMAX and TMIN to get TAVG (TMAX and TMIN here are already averages of the entire week)
#df_TPS['TAVG'] = (df_TPS['TMAX'] + df_TPS['TMIN'])/2
df_TPS_1.sample(10)

           Date  TMAX  TMIN  TAVG  PRCP  SNOW  SNOWDepth  Week_Number  Year
472  2010-12-17  23.0   9.0  16.0   NaN   0.1        2.0           50  2010
3341 2018-10-25  47.0  31.0  39.0  0.02   0.0        0.0           43  2018
1309 2013-04-02  41.0  19.0  30.0  0.20   2.0        2.0           14  2013
1323 2013-04-16  69.0  39.0  54.0  0.00   0.0        0.0           16  2013
1733 2014-05-31  73.0  46.0  59.5  0.00   0.0        0.0           22  2014
3565 2019-06-06  74.0  62.0  68.0  0.81   0.0        0.0           23  2019
1057 2012-07-24  88.0  66.0  77.0  0.15   NaN        NaN           30  2012
591  2011-04-15  60.0  29.0  44.5  0.00   0.0        0.0           15  2011
511  2011-01-25  23.0 -19.0   2.0  0.00   0.0        6.0            4  2011
2425 2016-04-22  72.0  31.0  51.5  0.02   0.0        0.0           16  2016

     Year  Week_Number      PRCP  ...       TMAX       TMIN  SNOWDepth
457  2018           21  0.151429  ...  73.285714  48.857143   0.000000
150  2012           28  0.000000  ...  84.714286  52.428571        NaN
474  2018           38  0.237143  ...  74.428571  57.285714   0.000000
392  2017            8  0.082857  ...  58.500000  31.428571   0.000000
488  2018           52  0.000000  ...  36.285714  28.571429   0.000000
179  2013            5  0.378000  ...  36.142857  14.857143   1.142857
56   2010           39  0.470000  ...  60.857143  46.285714   0.000000
460  2018           24  0.122857  ...  76.428571  51.571429   0.000000
389  2017            5  0.031667  ...  27.857143  15.000000   1.500000
250  2014           24  0.300000  ...  73.428571  55.000000   0.000000

[10 rows x 8 columns]

In [0]:
df_TPS_1.sample(10)

     Year  Week_Number      PRCP  ...       TMAX       TMIN  SNOWDepth
111  2011           49  0.278497  ...  43.571429  28.571429   0.000000
38   2010           29  0.286185  ...  82.714286  65.142857   0.000000
302  2015           32  0.095313  ...  82.857143  60.571429   0.000000
66   2011            4  0.078489  ...  26.285714  11.714286  12.428571
13   2010            4  0.224203  ...  31.857143  15.285714   1.189985
414  2017           38  0.000000  ...  82.714286  59.000000   0.000000
53   2010           44  0.164286  ...  46.857143  32.857143   0.000000
370  2016           47  0.050182  ...  40.000000  30.857143   0.000000
417  2017           41  0.094286  ...  69.857143  51.142857   0.000000
336  2016           13  0.101533  ...  55.428571  36.285714   0.285714

[10 rows x 8 columns]

In [0]:
#Creates a new dataframe by merging only the required county in master dataframe and the df_TPS dataframe for that county
#This new dataframe is only a partial dataframe that contains only the rows that have the mentioned county values
#Complete dataset has to be created by either merging or creating df_TPS for all counties and cerging all temp_df
temp_df = pd.merge(df_master.loc[df_master['County'] == county_name], df_TPS_1,  how='left', left_on=['year','CDC Week'], right_on = ['Year','Week_Number'])

In [294]:
#Drop the newly created Year and Week_Number columns as our master dataset already has these columns
temp_df = temp_df.drop(['Year', 'Week_Number'], axis = 1)
temp_df.sample(5)
temp_df.shape

(302, 28)

In [0]:
master_updated = pd.concat([master_updated, temp_df])

In [296]:
master_updated.shape

(604, 28)

In [298]:
master_updated.sample(10)
#master_updated.to_csv("Albany_Allegany.csv")

     Unnamed: 0.1    County   FIPS  ...       TMAX       TMIN  SNOWDepth
176           478  ALLEGANY  36003  ...  46.571429  35.000000   0.142857
179           481  ALLEGANY  36003  ...  21.000000   8.000000   1.400000
50             50    ALBANY  36001  ...  30.857143   9.714286  15.142857
299           299    ALBANY  36001  ...  59.000000  38.857143   0.000000
91            393  ALLEGANY  36003  ...  48.285714  28.857143   0.000000
215           517  ALLEGANY  36003  ...  27.857143  15.000000   1.500000
300           300    ALBANY  36001  ...  60.142857  42.571429   0.000000
168           168    ALBANY  36001  ...  56.857143  37.142857   0.000000
231           533  ALLEGANY  36003  ...  71.571429  42.000000   0.000000
119           119    ALBANY  36001  ...  34.285714  21.428571   0.000000

[10 rows x 28 columns]